{% extends "base.html" %}
{% block content %}
    <h2>Список записей</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Имя клиента</th>
                <th>Услуга</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.client_name }}</td>
                    <td>{{ appointment.service }}</td>
                    <td>{{ appointment.appointment_date }}</td>
                    <td>{{ appointment.appointment_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}